body{
    display:flex;
    justify-content: space-between;
    align-items:flex-start;
    width:100vw;
}

.sidebar-layout{
    width:15%;
    min-height:100vh;
    top:0;
}

.main-content{
    width:85%;
    background-color:#ffffff;
    min-height:100vh;
    display: flex;
    padding:2em;
   
}

.sidebar{
    min-height:100vh;
    border-right:1px solid #ccc;
}

